.mobile-trapezoid-root {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.mobile-trapezoid-middle {
  position: absolute;
  top: -0.5px;
  width: 100%;
  height: 101%;
  background-color: white;
  clip-path: polygon(40% 0%, 100% 0%, 100% 100%, 0% 100%);
  z-index: 2;
}

.mobile-trapezoid-corners {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100%;
  width: 89.07%;
}
.mobile-trapezoid-corners:before {
  content: ' ';
  display: block;
  width: 50px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -10px;
  transform: skew(-45deg);
  /* border-radius: 8px; */
  border-top-left-radius: 8px;
  background-color: white;
}

@media screen and (min-width: 500px) {
  .mobile-trapezoid-middle {
    position: absolute;
    top: -0.5px;
    width: 100%;
    height: 105%;
    background-color: white;
    clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 0% 100%);
    z-index: 2;
  }
}

@media screen and (min-width: 768px) {
  .mobile-trapezoid-middle {
    position: absolute;
    top: -0.5px;
    width: 100%;
    height: 101%;
    background-color: white;
    clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
    z-index: 2;
  }
}
