.product-view-carousel {
  width: 300px;
  max-width: 300px;
  /* min-height: 350px; */
  /* max-height: 350px; */

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    /* text-align: center;
    font-size: 18px;
    background: #fff; */
    background: #fbfbfb;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 600px) {
  .product-view-carousel {
    width: 300px;
    max-width: 300px;
    min-height: 350px;
  }
}

@media (min-width: 1280px) {
  .product-view-carousel {
    width: auto;
    max-width: 500px;
    min-height: 450px;
  }
}
