.right-section_carousel {
  .swiper {
    width: calc(93.33vw - 25px); /* 350px is 93.33% of 375px */
    height: calc(61.33vw - 25px); /* 230px is 61.33% of 375px */
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: end;
  }

  .right-section__background {
    /* height: calc(168px * 100vw / 420); */
    height: 168px;

    /* @media (min-width: 1280px) {
      height: 10.5rem;
    } */
  }

  @media screen and (min-width: 1280px) {
    .swiper {
      width: 480px;
      height: 350px;
    }
  }

  @media screen and (min-width: 1450px) {
    .swiper {
      width: 580px;
      height: 400px;
    }
  }

  /* @media screen and (min-width: 1536px) {
    .swiper {
      width: 580px;
      height: 400px;
    }
  } */
}
