.dtg__carousel {
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 1.5rem;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: #000;
    font-weight: 999;
  }
}
